.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h1 {
    font-size: 32px;
    font-weight: 600;
    font-family: "Playwrite GB S", cursive;
    color: white;
}